:root {
         /* colors */
          --primario: white;
          --secundario: #e7dfcf;
          --alternativo: #f1c477;
          --titulo: hsl(45, 100%, 41%);

         /* spacings */
            --spacings-medium:2em;
            --spacings-large:4em;
         
            /* font-family*/
          --principal: 'Poppins', sans-serif;
          --texto: Arial, Helvetica, sans-serif;
}


/* Normalize */
*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html{
  font-size: 62.5%;
 

}
a{
  font-family: var(--texto);
  text-decoration: none;
}
 html body {
  width: 100%;
  height: auto;
  background-size:cover;
  background-color:var(--primario);
  font-family: var(--principal);
}
img {
  width: 100%;
  
}

/* COMIENZO DEL HEADER */

body header {

  display: flex;
  width:100%; 
  background-color: var(--alternativo);
  justify-content:space-around;
  padding: 20px 0;
  align-items: center;
  border-bottom: 5px solid black;
  
}
body header div {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}


.navbar-nav li {
  position: relative;
}

header .navbar-dark .navbar-nav .nav-link {
color: #1d1b1b;
 }
.navbar-nav li::before { 
 
  content: "";
  height: 3px;
  width: 0%;
  background: var(--secundario);
  position: absolute;
  left: 18px;
  bottom: 7px;
  transition: 0.3s ease-out;
}

.navbar-nav li:hover::before {
  width: 70%;
}

.navbar {
  background-color:var();
  font-size: 35px;
}

#boton {
  border-color: #727272;
}

.collapse {
 justify-content: center;
}

header nav  .menu{
  display: flex;
  gap:var(--spacings-medium);
}

header .navegacion{
  flex-basis: 80%;
  display:flex;
  justify-content: space-between;
}



.header__logo {
 width: 100%;
 height: 100%;
 flex-basis: 20%;
}


header .header__img {
max-width: 200px;
display:flex;  
margin-left: 2rem;
box-shadow:
  3px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  7.2px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  13.6px 12.5px 10px rgba(0, 0, 0, 0.035),
  24.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  45.5px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  109px 100px 80px rgba(0, 0, 0, 0.07)
; 
}


h2 {
  font-size: 40px;   
  padding: 5px;
  margin: 5px; 
  justify-items:center;
} 



/* FIN DEL HEADER */



/*COMIENZO DEL INDEX */
/* COMIENZO DE GRID INDEX */


.grilla {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows:  0.75fr 0.5fr;
  gap: 2rem ;
  align-items: center;
  grid-auto-flow: row;
  margin-top: var(--spacings-large);
  grid-template-areas:
  "bienvenida bienvenida trabajos"
  "presentacion presentacion presentacion";
   }
.bienvenida { grid-area: bienvenida; }

.trabajos { grid-area: trabajos; }

.presentacion { grid-area: presentacion; }


  
.solucion {
  color: var(--alternativo);
  width: 100%;
  height: 50%;
  font-size: 40px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 2px;
  margin: 5px; 
  text-shadow: 2px 2px #111111;
}
    

.card-title{
  color: var(--alternativo);
  font-size: 40px;
  padding: 2px;
  margin: 5px; 
}
    
    
    .bienvenida{
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: grid;
  justify-items: center;
}   



.card-body{
  padding: 15px;
  margin-top: var(--spacings-large);
  display: flex;
  flex-direction: column;
  box-shadow:
  3px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  7.2px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  13.6px 12.5px 10px rgba(0, 0, 0, 0.035),
  24.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  45.5px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  109px 100px 80px rgba(0, 0, 0, 0.07);

  
}  


.trabajos {
  font-size: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}  


.trabajos__cartas{
  height:100%;
  width: 100%;
  align-self: stretch;
  background-size:cover;
  
  
}  

.trabajos__soldador{
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 24px;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border: 2px solid black;
  
  
}

.trabajos__perfil{
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 24px;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border: 2px solid black;  
  
}

.trabajos__regla {
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 24px;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border: 2px solid black;  
  
}

.trabajos__titulo{
  margin:10px; 
  font-size: 35px;
  
} 

.trabajos__texto {
  margin: 25px;
  font-size: 17px;
}  


.presentacion {
  width:100%; 
  height:100%;
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; 
}  

.presentacion__pregunta {
  display: flex;
  font-size: 50px;
  padding: 30px;
  
} 


.presentacion__perforando {
  display:flex;
  width: 90%;
  height: 90%;
  margin-bottom: 30px;
  
  
}  

.presentacion__resenia {
  font-size: 20px;
  width: 100%;
  height: 100%;
  padding: 20px;
  margin-bottom: var(--spacings-medium); 
  
} 



/* FIN DEL INDEX */

/*COMIENZO DE LA PAGINA NOSOTROS*/
#nosotros {
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  margin-bottom: var(--spacings-medium);
  margin-top: var(--spacings-medium);
}

.contenedor {
 flex-direction:row;
 width: 100%;
 height: auto;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
 gap: 10px;
 margin-top: var(--spacings-medium);
 
}
 


.contenedor__diseñador {
 width: 400px;
 height: 300px;

 

}


.contenedor__equipo {
  width:400px;
  height:300px;
  gap: var(--spacings-large);
}

.contenedor__titulo {
  color: var(--alternativo);
  font-size: 30px;
  padding: 2px;
  margin: 5px;
  gap: var(--spacings-medium); 
}

.contenedor__parrafo { 
  width: 500px;; 
  height: 300px; 
  padding: 15px;
font-size: 25px;
}
/* FIN DE LA PAGINA NOSOTROS*/

/* INICIO de ALUMINIO y HERRERIA */

.div__aluminio__herreria {
  display: flex;
  padding:15px;
  margin-top: 20px;
  margin-bottom:var(--spacings-medium)
  
} 
.aluminio__herreria__titulo {
  color: var(--alternativo);
  font-size: 50px;
  padding: 2px;
  margin: 5px;
  gap: var(--spacings-medium);
  margin-top: 20px;
  
  
} 

.herreria__texto  {
  font-size: 40px;
  padding: 2px;
  gap: var(--spacings-medium);
  margin-bottom:var(--spacings-medium) 
} 

.caja{
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em;
}

.caja__titulo{
  color: var(--alternativo);
  display:flex;
  justify-content: center;
  margin-bottom: var(--spacings-medium);
  
}
.cuadro{
 height: auto;
 width: 300px;
 font-family: var(--texto);
 display: flex;
 flex-grow: 1;
 flex-shrink: 1;
 flex-basis: 15%;
 flex-flow: row wrap;
 justify-content: center;
 
 
} 
.cuadro__img {
  height:100%;
  width:100%;
  display: flex;
  padding: 5px;
  object-fit: cover;
 }
 .cuadro__titulo {
  width: 100%;
  font-size: 25px;
  font-family:var(--texto);
  padding: 10px;
  display: flex;
  justify-content: center

 }
 .cuadro__texto {
  width: 100%;
  font-size: 20px;
  font-family:var(--texto);
  padding: 10px;
  margin-left:0;
  margin-right:0;
  display: flex;
  justify-content: center

 }


.galeriaherreria{
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row;
  flex-basis: 33%;
  justify-content: space-around;
  flex-grow: 1;
  gap: 2rem;
  flex-shrink: 1;
  flex-flow: row wrap;
  margin-bottom: 25px;
 
 
}
.imgherreria{
  display: flex;
  width: auto;
  height: auto;
  gap: var(--spacings-medium);
  padding: 5px;
 
   
 }

 .imgherreria__cuadro{
  border: #1d1b1b solid 1px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
   }
 
  .imgherreria .imgherreria__cuadro:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: 0.3s;
    transition: 0.3s;

}

/* INICIO DE CONTACTO */

 .contactos{
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  font-family: var(--principal);
  font-size:30px;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: var(--spacings-medium);
  
  
}
 
form {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 4fr 1fr;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
  height: 600px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  justify-items: center;
  align-items: center;
}

form textarea {
  border-radius: 15px;
  resize: none;
  width: 95%;
  height: 90%;
  margin-top: 5px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

form input {
  height: 40px;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 10px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

#enviar {
  border-radius: 10px;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

/* FIN DE CONTACTOS*/


/* FOOTER */

footer{
  width: 100%;
  height:auto;
  background-color: var(--alternativo);
  font-size: 20px;
  display:flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 2px solid var(--secundario);
  

  
}

.redes{
display: flex;
justify-content: space-evenly;
padding: 15px;

}

.mapa {
display: flex;
justify-content: center;
padding: 15px;
}

.encabezado{
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* FIN DEL FOOTER*/

/* MEDIA HEADER */

@media screen and (max-width: 1100px){ 
  header nav .menu {
    display:flex;
    flex-direction:column;
    font-size: 40px;
    gap: 2rem;
  }
}
@media  (max-width:916px)  {
  header {
    
    display:flex;
    width: 100%;
    flex-direction:column;
    flex-basis: 100%; 
    flex-grow: 1;
    flex-shrink: 1;
    gap: 2rem;
  }
  
}

@media  (max-width:534px)  {
  header {

  display:flex;
  width: 100%;
  flex-direction:column;
   flex-basis: 100%; 
  flex-grow: 1;
  gap: 2rem;
}
 }
/* MEDIA INDEX */
@media (max-width: 992px){
  .grilla{
    display: grid;
    width:100%;
    height: auto;
    grid-template-columns: 1fr  ;
    grid-template-rows: 0.5fr 1fr 0.5fr  ;
    gap: 1em;
    grid-auto-flow: row;
    grid-template-areas:
    "bienvenida "
    "trabajos"
    "presentacion";
  }

  .presentacion__perforando {
    display:flex;
    width: 70%;
    height: 40%;
    margin-bottom: 30px;
    
    
  }  

  }

@media (max-width: 355px){
  .grilla{
    display: grid;
    width:100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr  ;
    gap: 1em;
    grid-auto-flow: row;
    
    grid-template-areas:
    "bienvenida "
    "trabajos"
    "presentacion";
  }
   

 
.solucion {
  color: var(--alternativo);
  width: 90%;
  height: 50%;
  font-size: 20px;
  font-family:Georgia, 'Times New Roman', Times, serif;
  padding: 2px;
  margin: 3px; 
  text-shadow: 2px 2px #111111;
}
    

.card-title{
  color: var(--alternativo);
  font-size: 30px;
  padding: 2px;
  margin: 5px; 
}
    
    
    .bienvenida{
  width: 100%;
  height: 100%;
  display: grid;
  justify-items: center;
}   



div .card-body{
  font-size: 20px;
  padding: 10px;
  margin-top: var(--spacings-large);
  display: flex;
  flex-direction: column;
  box-shadow:
  3px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  7.2px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  13.6px 12.5px 10px rgba(0, 0, 0, 0.035),
  24.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  45.5px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  109px 100px 80px rgba(0, 0, 0, 0.07);

  
}  


.trabajos {
  font-size: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}  


.trabajos__cartas{
  height:100%;
  width: 100%;
  align-self: stretch;
  background-size:cover;
  
  
}  

.trabajos__soldador{
  width: 250px;
  height: 250px;
  margin: 20px;
  padding: 24px;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border: 2px solid black;
  
  
}

.trabajos__perfil{
  width: 250px;
  height: 250px;
  margin: 20px;
  padding: 24px;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border: 2px solid black;  
  
}

.trabajos__regla {
  width: 250px;
  height: 250px;
  margin: 20px;
  padding: 24px;
  background: rgba( 255, 255, 255, 0 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );  
  backdrop-filter: blur( 20px );
  -webkit-backdrop-filter: blur( 20px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
  border: 2px solid black;  
  
}

.trabajos__titulo{
  margin:10px; 
  font-size: 30px;
  
} 

.trabajos__texto {
  margin: 20px;
  font-size: 18px;
}  



.presentacion {
  width:100%; 
  height:100%;
  display:flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  
  
  
  
}  

.presentacion__pregunta {
  display: flex;
  font-size: 35px;
  padding: 20px;
  
} 


.presentacion__perforando {
  display:flex;
  padding: 5px;
  width: 100%;
  height: 30%;
  margin-bottom: 10px;
  
  
}  

.presentacion__resenia {
  font-size: 17px;
  width: 100%;
  height: 100%;
  padding: 15px;
 
  
} 


}



/* MEDIA NOSOTROS*/

@media  (max-width:534px)   {
  

#nosotros {
  width: 100%;
  height: auto;
  display:flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  margin-bottom: var(--spacings-medium);
  margin-top: var(--spacings-medium);
}

.contenedor {
 flex-direction:row;
 width: 100%;
 height: auto;
 display: flex;
 justify-content: space-evenly;
 align-items: center;
 flex-wrap: wrap;
 
}
 
.contenedor__diseñador {
 width: 290px;
 height: 200px;
 padding: 5px;
}

.contenedor__equipo {
  width:290px;
  height:200px;
  gap: var(--spacings-large);
padding: 5px;
}

.contenedor__titulo {
  display: flex;
  justify-content: center;
  color: var(--alternativo);
  font-size: 18px;
  padding: 2px;
  margin: 5px;
  gap: var(--spacings-medium); 
}

.contenedor__parrafo { 
  width: 100%; 
  height: 100%; 
  padding: 10px;
  font-size: 15px;
}
 }
 

/* MEDIA ALUMINIO HERRERIA */
@media only screen and (max-width: 769px) {
  
  
  .aluminio__herreria__titulo  {
    color: var(--alternativo);
    font-size: 30px;
    padding: 2px;
    gap: var(--spacings-medium); 
    
  } 
  
  .herreria__texto  {
    font-size: 20px;
    padding: 2px;
    gap: var(--spacings-medium);
  } 
  
  
  .caja__titulo{
    color: var(--alternativo);
    display:flex;
    justify-content: center;
    font-size: 20px;
    padding: 2px;
    margin-bottom: var(--spacings-medium);
  }
  
  
}




/* MEDIA CONTACTO */



@media only screen and (max-width: 768px) {
  
  .contactos{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    font-family: var(--principal);
    font-size:19px;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    margin-top: var(--spacings-medium);
  }
}

@media only screen and (min-width: 768px) {
  
  form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.2fr;
    gap: 5px;
    height: 500px;
    width: 80%;
    text-align: center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    border: solid 3px #1d1b1b;
  }
  
  form .nombre {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  form .apellido {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  
  form .mail {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }
  
  form .telefono {
    grid-column-start: 2;
    grid-column-end: 3;
   grid-row-start: 2;
   grid-row-end: 3;
  }
  
  form .mensaje {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }
  
  form #enviar {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
    width: 30%;
  }
  
  form textarea {
    resize: none;
    width: 95%;
    height: 90%;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
  
  form input {
    height: 40px;
    width: 90%;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
  }
}

@media only screen and (min-width: 907px) {
  
  form {
    display: grid;
    grid-column: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 0.2fr 0.5fr 0.2fr;
    gap: 5px;
    height: 500px;
    width: 80%;
    align-items: center;
    text-align : center;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    margin-top: 50px;
    border: solid 3px #1d1b1b;
  }
  
  form .nombre {
    grid-column-start: 1;
    grid-column-end: 2;                                                                                                                       
  grid-row-start: 1;
  grid-row-end: 2;
}

form .apellido {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 2;
}

form .mail {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 2;
  grid-row-end: 3;
}

form .telefono {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
}

form .mensaje {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

form #enviar {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  width: 30%;
}

form textarea {
  resize: none;
  width: 95%;
  height: 90%;
  margin-top: 5px;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}

form input {
  height: 40px;
  width: 90%;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
}
}
/* MEDIA FOOTER */
@media  (max-width:534px)  {
  footer {

  display:flex;
  width: 100%;
  flex-direction:column;
   flex-basis: 100%; 
  flex-grow: 1;
  gap: 2rem;
}
 }


