*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html{
  font-size: 62.5%;
}
a{
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}
body {
  width: 100%;
  height: auto;
  background-size:cover;
  background-color:#87847A;
  font-family: 'Poppins', sans-serif;
}
img {
  width: 100%;
  
}
 .header__logo {
  width: 100%;
  height: 100%;
}

/* COMIENZO DEL HEADER */

body header {
display: flex;
background-color: #665656;
justify-content:space-around;
padding: 20px 0;
align-items: center;
border-bottom: 2px solid black;

}

header nav  .menu{
  display: flex;
  gap: 2em;
}

header .navegacion{
  flex-basis: 80%;
  display:flex;
  justify-content: space-between;
}


header .header__logo {
  flex-basis: 20%;
  
}


header .header__img {
max-width: 200px;
display: flex;  
margin-left: 2rem;
box-shadow:
  3px 2.8px 2.2px rgba(0, 0, 0, 0.02),
  7.2px 6.7px 5.3px rgba(0, 0, 0, 0.028),
  13.6px 12.5px 10px rgba(0, 0, 0, 0.035),
  24.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
  45.5px 41.8px 33.4px rgba(0, 0, 0, 0.05),
  109px 100px 80px rgba(0, 0, 0, 0.07)
; 
}
.menu ul li a {
  list-style-type:none;
}

header nav .menu {
  background-color: moccasin;
  border: solid;
  font-size: 40px; 
  padding: 10px;
  list-style-type:none;
}

.menu__list:hover {
 background-color: #5B474A;
 transition: background-color 2s;

}

.menu .menu__link {
  font-size:1em;
  color: maroon;
  list-style-type:none;

}

.solucion {
  color: moccasin;
  font-size: 40px;
  padding: 2px;
  margin: 5px; 
}

  section h2 {
 font-size: 40px;
 padding: 5px;
 margin: 5px; 
 justify-items:center;
}

 

/* FIN DEL HEADER */



/*COMIENZO DEL INDEX */



.fondo__completo {
width: 100%;
height: 50%;
position:static
}
.bienvenida{
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: grid;
  justify-items: center;
} 

.entrada__baner{
  width: 100%;
  height: 100%;
  
 
  
  }
 
  .card { 
   margin-left: auto;
   margin-right: auto;
   
  }

.card-body{
  background-color: #665656;
  font-size: 35px;
  border: solid 2px black;
 
}


.trabajos {
  font-size: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;  
}


.trabajos__cartas{
  height:100%;
  width: 100%;
  align-self: stretch;
  background-size:cover;
  

}

.trabajos__soldador{
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 24px;
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
border: 2px solid black;
  
  
}

.trabajos__perfil{
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 24px;
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
border: 2px solid black;  
 
}

.trabajos__regla {
  width: 300px;
  height: 300px;
  margin: 20px;
  padding: 24px;
  background: rgba( 255, 255, 255, 0 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 20px );
-webkit-backdrop-filter: blur( 20px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
border: 2px solid black;  
  
}

.trabajos__titulo{
 margin:25px;
 font-size: 40px;
  
}

.trabajos__texto {
  margin: 25px;
  font-size: 15px;
}


  .presentacion {
    width:100%; 
    height:100%;
    display:grid;
    justify-items: center;
    
    

  
  }

.presentacion__pregunta {
  font-size: 50px;
  
 }


.presentacion__perforando {
  width: 75%;
  height: 75%;
 
  
}

.presentacion__resenia {
  font-size: 20px;
  width: 100%;
  height: 100%; 
  
  }
 /* COMIENZO DE GRID INDEX */
.container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows:  1fr 0.5fr;
    gap: 2rem 2rem;
    align-items: center;
    grid-auto-flow: row;
    grid-template-areas:
      "bienvenida bienvenida trabajos"
      "presentacion presentacion presentacion";
  }

  .bienvenida { grid-area: bienvenida; }
  
  .trabajos { grid-area: trabajos; }
  
  .presentacion { grid-area: presentacion; }



/* FIN DEL INDEX */

/*COMIENZO DE LA PAGINA NOSOTROS*/
#nosotros {
 width: 100%;
 height: 100%;
 margin-left: 0 auto;
 margin-right: 0 auto;
 font-size: 30px;
 display:flex;
 flex-direction: column;
 justify-content:center ;
}

.contenedor {
 width: 100%;
 height: 100%;
 display: flex;
 justify-content: center;
}
 
.contenedor__diseñador {
 width: 600px;
 height: 600px;
 

}


.contenedor__equipo {
  width:600px;
  height:600px;
}

.texto{
 width: 600px;; 
 height: 300px; 
 padding: 30px;
}
/* FIN DE LA PAGINA NOSOTROS*/
     
 /* INICIO de ALUMINIO y HERRERIA */

  .aluminio{
     max-width:1200px;
     height:100%;
     margin: 0 auto;
    
    }
   .seccion__aluminio {
    padding: 50px;
    font-size: 35px;
    }    
   
    .d-block{
      height:80%;
      margin-left: auto;
      margin-right: auto;
    }
    .carousel-control-prev{
      margin-left: auto;
      margin-right: auto;
    }
    
    .carousel-control-next{
      margin-left: auto;
      margin-right: auto;
    }
   /* .galeria .galeria__panel .galeria__imagen:hover{
  
    transform: scale( 1.2 );
   
  }
  
  .galeria .galeria__percianas .galeria__imagen:hover {
  
    transform: scale( 1.2 );
   
    } 
    
    
    .galeria .galeria__ventanasimple .galeria__imagen:hover{
    
      
      transform: scale( 1.2 );
          
    } 
    
    .galeria .galeria__ventanas .galeria__imagen:hover{
    transform: scale( 1.2 );
       
    }  
  
    .galeria .galeria__imagen{
     width: 100%;
     height:100%;
     transition: transform 0.7s;
   
    
    }  */

.herreria__grilla{
  width:100%;
  height:100%;
  border:2px solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.herreria__separador{
  width:200px; 
  height:200px;
  padding: 5px auto;
  margin-left:auto;
  margin-right:auto ;
  
}
    
#carouselExampleInterval{
  height: 500px;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  


}
       
    /* INICIO GRID DE ALUMINIO y HERRERIA  */
 /* .galeria { 
    width:100%;
    height: 100%;  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr;
    gap: 2em 2em;
    grid-auto-flow: row;
    grid-template-areas:
      "galeria__barandal galeria__barandal galeria__panel galeria__panel galeria__percianas galeria__percianas"
      "galeria__puerta galeria__puerta galeria__ventanasimple galeria__ventanasimple galeria__ventanas galeria__ventanas";
  }
  
  .galeria__panel { grid-area: galeria__panel; }
  
  .galeria__percianas { grid-area: galeria__percianas; }
  
  .galeria__puerta { grid-area: galeria__puerta; }
  
  .galeria__ventanasimple { grid-area: galeria__ventanasimple; }
  
  .galeria__ventanas { grid-area: galeria__ventanas; }
  
  .galeria__barandal { grid-area: galeria__barandal; } */
  

/* FIN DE GRTID ALUMINIO y HERRERIA */

/* FIN DE ALUMINIO Y HERRERAIA */

/* INICIO DE CONTACTO */

#contacto {
 width: 1800px ;
 height: 700px;
 border: 2px; 
 margin-top: 15px;
}

.llamada {
 width:700px;
 height: 500px;
}

.formulario {
 width: 700px;
 height: 500px;
 font-size: 50px;
 display: inline-block;
}

input {
 width: 250px ;
 height: 40px; 
}

form {
 width: 600px ;
 height: 400px;
 display: inline-block; 
 background-position: center;
} 

/* FIN DE CONTACTOS*/


/* FOOTER */

.footer{
  width:100%;
  height:100%;
  background-color: moccasin;
  font-size: 20px;
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;

  
}
  
/* FIN DEL FOOTER*/
/* media */

@media screen and (max-width: 1270px) {
  header{
flex-direction:column;
gap: 2rem;

}
 }


@media screen and (max-width: 750px){
  .container{
      display: grid;
      grid-template-columns: 1fr  ;
      grid-template-rows: 1fr 1fr 1fr  ;
      gap: 1em;
      grid-auto-flow: row;
      grid-template-areas:
        "bienvenida "
        "trabajos"
        "presentacion";
    }
  
    .bienvenida { grid-area: bienvenida; }
    
    .trabajos { grid-area: trabajos; }
    
    .presentacion { grid-area: presentacion;}
    
  }

@media screen and (max-width: 1100px){ 
  header nav .menu {
    display:flex;
    flex-direction:column;
  gap: 2rem;
  }
}