@charset "UTF-8";
/*MISC */
/*Variables*/
/* colors */
/* font-family*/
/* spacings */
.spacings-medium {
  padding: 2em; }

.spacings-large {
  padding: 4em; }

/* Normalize */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

a {
  font-family: var(--texto);
  text-decoration: none; }

html body {
  width: 100%;
  height: auto;
  background-size: cover;
  background-color: var(--primario);
  font-family: var(--principal); }

img {
  width: 100%; }

.flex {
  display: flex;
  align-items: center;
  justify-content: space-around; }

/*PARTIAL*/
body header {
  display: flex;
  width: 100%;
  background-color: #f1c477;
  justify-content: space-around;
  padding: 20px 0;
  align-items: center;
  border-bottom: 5px solid black; }
  body header .header__logo {
    height: 100%;
    max-width: 200px;
    display: flex;
    margin-left: 2rem;
    box-shadow: 3px 2.8px 2.2px rgba(0, 0, 0, 0.02), 7.2px 6.7px 5.3px rgba(0, 0, 0, 0.028), 13.6px 12.5px 10px rgba(0, 0, 0, 0.035), 24.3px 22.3px 17.9px rgba(0, 0, 0, 0.042), 45.5px 41.8px 33.4px rgba(0, 0, 0, 0.05), 109px 100px 80px rgba(0, 0, 0, 0.07);
    flex-basis: 20%; }
  body header .navbar {
    background-color: var();
    font-size: 35px; }
    body header .navbar #boton {
      border-color: #727272; }
    body header .navbar .collapse {
      justify-content: center;
      height: 100%;
      width: 100%;
      display: flex; }
      body header .navbar .collapse .navbar-nav li {
        position: relative;
        color: #1d1b1b; }
      body header .navbar .collapse .navbar-nav li::before {
        content: "";
        height: 3px;
        width: 0%;
        background: #e7dfcf;
        position: absolute;
        left: 18px;
        bottom: 7px;
        transition: 0.3s ease-out; }
      body header .navbar .collapse .navbar-nav li:hover::before {
        width: 70%; }
      body header .navbar .collapse header .navbar-dark .navbar-nav .nav-link {
        color: #1d1b1b; }

h2 {
  font-size: 40px;
  padding: 5px;
  margin: 5px;
  justify-items: center; }

/*footer*/
footer {
  width: 100%;
  height: auto;
  background-color: #f1c477;
  font-size: 20px;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 100%;
  flex-direction: row;
  justify-content: space-evenly;
  border-top: 2px solid #e7dfcf; }
  footer .redes {
    display: flex;
    justify-content: space-evenly;
    padding: 15px; }
  footer .mapa {
    display: flex;
    justify-content: center;
    padding: 15px; }
  footer .encabezado {
    display: flex;
    flex-direction: column;
    align-items: center; }

/*PAGES*/
.grilla {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.75fr 0.5fr;
  gap: 2rem;
  align-items: center;
  grid-auto-flow: row;
  margin-top: 4em;
  grid-template-areas: "bienvenida bienvenida trabajos" "presentacion presentacion presentacion";
  width: 100%;
  height: 100%;
  font-size: 30px;
  display: grid;
  justify-items: center; }
  .grilla .solucion {
    color: #f1c477;
    width: 100%;
    height: 50%;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    margin: 5px;
    text-shadow: 2px 2px #111111; }
  .grilla .card-title {
    color: #f1c477;
    font-size: 40px;
    padding: 2px;
    margin: 5px; }
  .grilla .card {
    margin-left: auto;
    margin-right: auto;
    margin-top: 2rem;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: 2px solid black; }
  .grilla .card-body {
    padding: 15px;
    margin-top: var(--spacings-large);
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: 2px solid black; }

.trabajos {
  font-size: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  display: grid;
  justify-items: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .trabajos .trabajos__cartas {
    height: 100%;
    width: 100%;
    align-self: stretch;
    background-size: cover; }
    .trabajos .trabajos__cartas__soldador {
      width: 300px;
      height: 300px;
      margin: 20px;
      padding: 24px;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      border: 2px solid black; }
    .trabajos .trabajos__cartas__perfil {
      width: 300px;
      height: 300px;
      margin: 20px;
      padding: 24px;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      border: 2px solid black; }
    .trabajos .trabajos__cartas__regla {
      width: 300px;
      height: 300px;
      margin: 20px;
      padding: 24px;
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      border: 2px solid black; }
    .trabajos .trabajos__cartas .box-shadow {
      background: rgba(255, 255, 255, 0);
      box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(20px);
      border-radius: 10px;
      border: 1px solid rgba(255, 255, 255, 0.18);
      border: 2px solid black; }
    .trabajos .trabajos__cartas__titulo {
      margin: 10px;
      font-size: 35px; }
    .trabajos .trabajos__cartas__texto {
      margin: 25px;
      font-size: 15px; }

.presentacion {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }
  .presentacion__pregunta {
    display: flex;
    font-size: 50px;
    padding: 30px; }
  .presentacion__perforando {
    display: flex;
    width: 90%;
    height: 90%;
    margin-bottom: 30px; }
  .presentacion__resenia {
    font-size: 20px;
    width: 100%;
    height: 100%;
    padding: 20px;
    margin-bottom: 2em; }

.bienvenida {
  grid-area: bienvenida; }

.trabajos {
  grid-area: trabajos; }

.presentacion {
  grid-area: presentacion; }

/* MEDIA HEADER */
@media screen and (max-width: 1100px) {
  header nav .menu {
    display: flex;
    flex-direction: column;
    font-size: 40px;
    gap: 2rem; } }

@media (max-width: 916px) {
  header {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 2rem; } }

@media (max-width: 534px) {
  header {
    display: flex;
    width: 100%;
    flex-direction: column;
    flex-basis: 100%;
    flex-grow: 1;
    gap: 2rem; } }

/* MEDIA INDEX */
@media (max-width: 992px) {
  .grilla {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap: 1em;
    grid-auto-flow: row;
    grid-template-areas: "bienvenida " "trabajos" "presentacion"; }
  .presentacion__perforando {
    display: flex;
    width: 70%;
    height: 40%;
    margin-bottom: 30px; } }

@media (max-width: 355px) {
  .grilla {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 0.5fr;
    gap: 1em;
    grid-auto-flow: row;
    grid-template-areas: "bienvenida " "trabajos" "presentacion"; }
  .solucion {
    color: #f1c477;
    width: 90%;
    height: 50%;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 2px;
    margin: 3px;
    text-shadow: 2px 2px #111111; }
  .card-title {
    color: #f1c477;
    font-size: 30px;
    padding: 2px;
    margin: 5px; }
  .bienvenida {
    width: 100%;
    height: 100%;
    display: grid;
    justify-items: center; }
  div .card-body {
    font-size: 20px;
    padding: 10px;
    margin-top: 4em;
    display: flex;
    flex-direction: column;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: 2px solid black; }
  .trabajos {
    font-size: 10px;
    width: 100%;
    height: 100%;
    text-align: center;
    display: grid;
    justify-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; }
  .trabajos__cartas {
    height: 100%;
    width: 100%;
    align-self: stretch;
    background-size: cover; }
  .trabajos__soldador {
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 24px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: 2px solid black; }
  .trabajos__perfil {
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 24px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: 2px solid black; }
  .trabajos__regla {
    width: 250px;
    height: 250px;
    margin: 20px;
    padding: 24px;
    background: rgba(255, 255, 255, 0);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.18);
    border: 2px solid black; }
  .trabajos__titulo {
    margin: 10px;
    font-size: 30px; }
  .trabajos__texto {
    margin: 20px;
    font-size: 18px; }
  .presentacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center; }
  .presentacion__pregunta {
    display: flex;
    font-size: 35px;
    padding: 20px; }
  .presentacion__perforando {
    display: flex;
    padding: 5px;
    width: 100%;
    height: 30%;
    margin-bottom: 10px; }
  .presentacion__resenia {
    font-size: 17px;
    width: 100%;
    height: 100%;
    padding: 15px; } }

#nosotros {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 2em;
  margin-top: 2em; }
  #nosotros .contenedor {
    flex-direction: row;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 2em; }
    #nosotros .contenedor .contenedor__diseñador {
      width: 400px;
      height: 300px; }
    #nosotros .contenedor .contenedor__equipo {
      width: 400px;
      height: 300px;
      gap: 4em; }
    #nosotros .contenedor .contenedor__titulo {
      color: #f1c477;
      font-size: 30px;
      padding: 2px;
      margin: 5px;
      gap: 2em; }
    #nosotros .contenedor .contenedor__parrafo {
      width: 500px;
      height: 300px;
      padding: 15px;
      font-size: 25px; }

/* INICIO de ALUMINIO y HERRERIA */
.div__aluminio__herreria {
  display: flex;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 2em; }
  .div__aluminio__herreria .aluminio__herreria__titulo {
    color: #f1c477;
    font-size: 50px;
    padding: 2px;
    margin: 5px;
    gap: 2em;
    margin-top: 20px; }
  .div__aluminio__herreria .herreria__texto {
    font-size: 40px;
    padding: 2px;
    gap: 2em;
    margin-bottom: 2em; }

.caja__titulo {
  color: #f1c477;
  display: flex;
  justify-content: center;
  margin-bottom: 2em; }

.caja {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em; }
  .caja .cuadro {
    height: auto;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15%;
    flex-flow: row wrap;
    justify-content: center; }
    .caja .cuadro .cuadro__img {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 5px;
      object-fit: cover; }
    .caja .cuadro .cuadro__titulo {
      width: 100%;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
      display: flex;
      justify-content: center; }
    .caja .cuadro .cuadro__texto {
      width: 100%;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
      margin-left: 0;
      margin-right: 0;
      display: flex;
      justify-content: center; }

.galeriaherreria {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row;
  flex-basis: 33%;
  justify-content: space-around;
  flex-grow: 1;
  gap: 2rem;
  flex-shrink: 1;
  flex-flow: row wrap;
  margin-bottom: 25px; }
  .galeriaherreria .imgherreria {
    display: flex;
    width: auto;
    height: auto;
    gap: 2em;
    padding: 5px; }
    .galeriaherreria .imgherreria .imgherreria__cuadro {
      border: #1d1b1b solid 1px;
      transition: all 0.5s; }
      .galeriaherreria .imgherreria .imgherreria__cuadro .imgherreria .imgherreria__cuadro:hover {
        transform: scale(1.2);
        transition: 0.3s; }

.div__aluminio__herreria {
  display: flex;
  padding: 15px;
  margin-top: 20px;
  margin-bottom: 2em; }
  .div__aluminio__herreria .aluminio__herreria__titulo {
    color: #f1c477;
    font-size: 50px;
    padding: 2px;
    margin: 5px;
    gap: 2em;
    margin-top: 20px; }
  .div__aluminio__herreria .herreria__texto {
    font-size: 40px;
    padding: 2px;
    gap: 2em;
    margin-bottom: 2em; }

.caja__titulo {
  color: #f1c477;
  display: flex;
  justify-content: center;
  margin-bottom: 2em; }

.caja {
  height: 100%;
  width: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 2em; }
  .caja .cuadro {
    height: auto;
    width: 300px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 15%;
    flex-flow: row wrap;
    justify-content: center; }
    .caja .cuadro .cuadro__img {
      height: 100%;
      width: 100%;
      display: flex;
      padding: 5px;
      object-fit: cover; }
    .caja .cuadro .cuadro__titulo {
      width: 100%;
      font-size: 25px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
      display: flex;
      justify-content: center; }
    .caja .cuadro .cuadro__texto {
      width: 100%;
      font-size: 20px;
      font-family: Arial, Helvetica, sans-serif;
      padding: 10px;
      margin-left: 0;
      margin-right: 0;
      display: flex;
      justify-content: center; }

.galeriaherreria {
  display: flex;
  width: 100%;
  height: 100%;
  flex-flow: row;
  flex-basis: 33%;
  justify-content: space-around;
  flex-grow: 1;
  gap: 2rem;
  flex-shrink: 1;
  flex-flow: row wrap;
  margin-bottom: 25px; }
  .galeriaherreria .imgherreria {
    display: flex;
    width: auto;
    height: auto;
    gap: 2em;
    padding: 5px; }
    .galeriaherreria .imgherreria .imgherreria__cuadro {
      border: #1d1b1b solid 1px;
      transition: all 0.5s; }
      .galeriaherreria .imgherreria .imgherreria__cuadro .imgherreria .imgherreria__cuadro:hover {
        transform: scale(1.2);
        transition: 0.3s; }

.contactos {
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-size: 30px;
  align-items: center;
  flex-wrap: wrap;
  padding: 15px;
  margin-top: 2em; }

form {
  display: -ms-grid;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 4fr 1fr;
  background-color: transparent;
  padding-left: 5px;
  padding-right: 5px;
  height: 600px;
  width: 95%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  justify-items: center;
  align-items: center; }
  form form textarea {
    border-radius: 15px;
    resize: none;
    width: 95%;
    height: 90%;
    margin-top: 5px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif; }
  form form input {
    height: 40px;
    width: 95%;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif; }
  form #enviar {
    border-radius: 10px;
    width: 50%;
    margin-left: auto;
    margin-right: auto; }
