<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="jpg" href="../img/logo.navegador.png">
</head>

<body>
    <header>
        <picture class="header__logo">
            <img img class="header__img" src="../img/logo.png" alt="logo de herreria amtonutti">
        </picture>        
        <nav class="navegacion">
            <ul class="menu">
                 <li class="menu__list">
                     <a class="menu__link" href="../index.html">inicio</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./nosotros.html">nosotros</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./aluminio.html">aluminio</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./herreria.html">herreria</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./contactos.html">contactos</a></li>
            </ul>
         </nav>    
    </header>
    <main >
        <div>
            <article class="anunciado">
                     <h1>aluminio</h1>
                     <p> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit facere, sequi, deserunt perferendis dicta neque quidem dignissimos facilis architecto distinctio quibusdam beatae delectus excepturi quo labore. Qui voluptas cumque pariatur?Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia aut maiores laboriosam ex numquam asperiores delectus exercitationem a, et corrupti ab facilis quasi deleniti voluptatem quaerat quod odit cum similique?</p>
            </article>
       </div>  
        <section class="ventas">
                            <picture class="barandal">
                                              <img src="../img/aluminio.barandal.jpg" alt="">
                            </picture>
                            <picture class="panel">
                                              <img src="../img/aluminio.panel.jpg" alt="">
                            </picture>
                            <picture class="percianas">
                                              <img src="../img/aluminio.percianas.jpg" alt="">
                            </picture>
                            <picture class="puerta">
                                              <img src="../img/aluminio.puerta.png" alt="">
                            </picture>
                            <picture class="ventanasimple">
                                              <img src="../img/aluminio.ventana.simple.jpg" alt="">
                            </picture>
                            <picture class="ventanas">
                                              <img src="../img/aluminio.ventanas.jpg" alt="">
                            </picture>            
        </section>
   </main>
   <br>
   <footer class="footer">
    <section >
            <div class="encabezado">            
                                   <h3 class="encabezado__horarios">horarios: de lunes a viernes de 08:00 AM a 19:00 PM</h3>
                                   <h3 class="encabezado__direccion">direcion:calle123</h3>
            </div>   
           <p>esta pagina web es sin fines de lucro . todos los derechos reservados</p>
    </section>
</footer>
</body>
</html>