<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="jpg" href="../img/logo.navegador.png">
</head>

<body>
    <header>
        <picture class="header__logo">
           <img img class="header__img" src="../img/logo.png" alt="logo de herreria amtonutti">
        </picture>
        <nav class="navegacion">
            <ul class="menu">
                 <li class="menu__list">
                     <a class="menu__link" href="../index.html">inicio</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./nosotros.html">nosotros</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./aluminio.html">aluminio</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./herreria.html">herreria</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./contactos.html">contactos</a></li>
            </ul>
        </nav>
    </header>
    <main class="contenedora">        
         <section id="contacto">
                  <h2>Nos encantaria saber mas de vos!manda tus datos y nos comunicaremos lo mas rapido posible.muchas gracias.</h2>
                  <img class="llamada" src="../img/nosotros.llamada.jpg" alt="mujer hablando por telefono">
                  <div class="formulario">
                       <form action="" method="get">
                             <label for="nombre">nombre:</label>
                             <input type="text" name="nombre" placeholder="nombre" >
                             <br>
                             <label for="apellido">apellido:</label>
                             <input type="text" name="apellido" placeholder="apellido">
                             <br>
                             <label for="correo">email:</label>
                             <input type="email" name="correo" placeholder="correo">
                             <br>
                             <label for="telefono">telefono:</label>
                             <input type="tel" name="telefono" placeholder="telefono">
                             <br>
                             <input type="submit" value="enviar">
                       </form>
                  </div>      
        </section>  
     </main>             
    <footer class="footer">
        <section >
                <div class="encabezado">            
                                       <h3 class="encabezado__horarios">horarios: de lunes a viernes de 08:00 AM a 19:00 PM</h3>
                                       <h3 class="encabezado__direccion">direcion:calle123</h3>
                </div>   
               <p>esta pagina web es sin fines de lucro . todos los derechos reservados</p>
        </section>
    </footer>
</body>
</html>