<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="jpg" href="../img/logo.navegador.png">
</head>

<body>
   <header>
       <picture class="header__logo">
            <img img class="header__img" src="../img/logo.png" alt="logo de herreria amtonutti">
        </picture>
        <nav class="navegacion">
            <ul class="menu">
                 <li class="menu__list">
                     <a class="menu__link" href="../index.html">inicio</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./nosotros.html">nosotros</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./aluminio.html">aluminio</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./herreria.html">herreria</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./contactos.html">contactos</a></li>
            </ul>
        </nav>    
    </header>
    <main>
           <div>
                 <article class="anunciado">
                          <h1>herreria</h1>
                          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.maxime repudiandae qui nulla quo! Velit, alias. Corrupti tempore qui debitis, sunt tenetur ipsam similique eius laudantium. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit corporis laudantium minus iure similique odio omnis voluptatibus magni. Ea doloribus quasi nobis blanditiis fuga nisi veniam veritatis doloremque animi ullam.</p>
                 </article>
          </div>
    <section id="herreria" class="herreria">
                             <ul class="herreria__grilla">
                                 <li class="herreria__separador">
                                       <img class="ventas__entregas" src="../img/herreria.adornos.png" alt="">
                                 </li>
                                 <li class="herreria__separador">
                                       <img class="herreria__entregas"  src="../img/herreria.antigua.png" alt="">
                                 </li>
                                 <li class="herreria__separador">
                                       <img class="herreria__entregas" src="../img/herreria.mesa.png" alt="">
                                 </li>
                                 <li class="herreria__separador">
                                       <img class="herreria__entregas" src="../img/herreria.porton.png" alt="">
                                 </li>
                                 <li class="herreria__separador">
                                       <img class="herreria__entregas" src="../img/herreria.reja.png" alt="">
                                 </li>
                                 <li class="herreria__separador">
                                       <img class="herreria__entregas" src="../img/herreria.techo.png" alt="">
                                 </li>
                              </ul>
                       
    </section>
</main>
<footer class="footer">
<section >
     <div class="encabezado">            
                            <h3 class="encabezado__horarios">horarios: de lunes a viernes de 08:00 AM a 19:00 PM</h3>
                            <h3 class="encabezado__direccion">direcion:calle123</h3>
     </div>   
    <p>esta pagina web es sin fines de lucro . todos los derechos reservados</p>
</section>
</footer>
</body>
</html>
       
          
 