<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>nosotros/herreria antonutti</title>
    <link rel="stylesheet" href="../css/index.css">
    <link rel="icon" type="jpg" href="../img/logo.navegador.png">
    
</head>

<body>
    <header class="header">
        <picture class="header__logo">
            <img class="header__img" src="../img/logo.png" alt="logo de herreria amtonutti">
        </picture>
        <nav class="navegacion">
            <ul class="menu">
                 <li class="menu__list">
                     <a class="menu__link" href="../index.html">inicio</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./nosotros.html">nosotros</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./aluminio.html">aluminio</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./herreria.html">herreria</a></li>
                 <li class="menu__list">
                     <a class="menu__link" href="./contactos.html">contactos</a></li>
            </ul>
        </nav>
    </header>
    <main>
            <section id="nosotros">
                                 <div class="contenedor">
                                                        <picture>
                                                            <img class="contenedor__diseñador" src="../img/nosotros_diseñando.jpg" alt="herrero diseñando planos">  
                                                        </picture> 
                                                            <article class="texto">
                                                       <article>     
                                                           <h2 class="contenedor__titulo">herreria</h2>      
                                                           <p class="contenedor__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dicta magnam quia pariatur exercitationem vero fuga esse, soluta suscipit dolorem quisquam quaerat excepturi libero consectetur hic numquam? Asperiores, unde alias!</p>
                                                       </article>
                                 </div>
                                <div class="contenedor">
                                                        <picture>
                                                            <img class="contenedor__equipo" src="../img/nosotros.trabajo.PNG" alt="dos personas trabajando con una puerta de aluminio" >
                                                        </picture>
                                                        <article> 
                                                            <h2 class="contenedor__titulo">aluminio</h2>
                                                            <p class="contenedor__parrafo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad dicta magnam quia pariatur exercitationem vero fuga esse, soluta suscipit dolorem quisquam quaerat excepturi libero consectetur hic numquam? Asperiores, unde alias!</p>
                                                        </article>   
                                </div>
            </section>    

    </main>
    <footer class="footer">
        <section >
                <div class="encabezado">            
                                       <h3 class="encabezado__horarios">horarios: de lunes a viernes de 08:00 AM a 19:00 PM</h3>
                                       <h3 class="encabezado__direccion">direcion:calle123</h3>
                </div>   
               <p>esta pagina web es sin fines de lucro . todos los derechos reservados</p>
        </section>
    </footer>
</body>
</html>