/*footer*/ 
footer{
    @include flex (row , space-evenly);
    width: 100vw;
    height:100%;
    background-color: $alternative;
    font-size: 20px;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
 
}