/*footer*/ 
footer{
    width: 100%;
    height:auto;
    background-color: $alternativo;
    font-size: 20px;
    display:flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    border-top: 2px solid $secundario;
    
    .redes{
    display: flex;
    justify-content: space-evenly;
    padding: 15px;
    
    }
    
    .mapa {
    display: flex;
    justify-content: center;
    padding: 15px;
    }
    
    .encabezado{
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    
  }
  
  