/*footer*/ 
footer{
    width: 100vw;
    height:100%;
    background-color: $alternative;
    font-size: 20px;
    display:flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100%;
    flex-direction: row;
    justify-content: space-evenly;
}