/* Normalize */
*   {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
html{
  font-size:62.5%;
 
}
a{
  font-family: $texto;
  text-decoration: none;
}
 html body {
  width: 100%;
  height: auto;
  background-size:cover;
  background-color:$primario;
  font-family: $principal;
}
img {
  width: 100%;
  
}