 /*Normalize*/  
*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
  }
  html{
    font-size: 62.5%;
  }
  a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  body {
    width: 100%;
    height: auto;
    background-size:cover;
    background-color:#87847A;
    font-family: 'Poppins', sans-serif;
  }
  img {
    width: 100%;
    
  }