
   /*Variables*/ 
   
   /* colors */
    $primario: #87847A;
    $secundario: #665656;
    $alternativo: moccasin;


    
    /* font-family*/
    $principal: 'Poppins', sans-serif;
    $texto: Arial, Helvetica, sans-serif; 
    
    /* spacings */
      $spacings-medium:2em;
      $spacings-large:4em;

      $spacings:(  
       spacings-medium:2em,
       spacings-large:4em,
      ) ;

      @each $key, $val in $spacings {
        .#{$key} { 
        padding: #{$val};
      }
       }